<header>
    <div class="header-top">
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Dr. Dolittle's Veterinary Clinic</h5>
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/appointment/list']">Appointment</a>
            </li>&nbsp;
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/owner/list']">Owners</a>
            </li>&nbsp;
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/pet/list']">Pets</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>