<div class="submit-form">
    <div *ngIf="!submitted">
        <h3>Appointment Registration</h3>
        <div class="form-group">
            <label for="owner_id">Owner</label>
            <select class="form-control" id="owner_id" required #owner_idcontrol="ngModel" [(ngModel)]="_appointmentModel.owner_id" name="owner_id">
        <option value="-1">Select</option>
        <option *ngFor="let d of _ownersmodel" [value]="d.id">
          {{ d.first_name }}
        </option>
      </select>
            <span class="help-block text-danger" *ngIf="owner_idcontrol.invalid && owner_idcontrol.touched">Help</span>
        </div>
        <div class="form-group">
            <label for="owner_id">Pet</label>
            <select class="form-control" id="pet_id" required [(ngModel)]="_appointmentModel.pet_id" name="pet_id">
        <option value="-1">Select</option>
        <option *ngFor="let d of _petsmodel" [value]="d.id">
          {{ d.name }}
        </option>
      </select>
        </div>

        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" required [(ngModel)]="_appointmentModel.date" name="date" />
        </div>
        <div class="row">
            <div class="col">
                <label for="owner_id">From</label>
                <select (change)="changefrom()" class="form-control" id="fromtime" required [(ngModel)]="_appointmentModel.fromtime" name="fromtime">
          <option value="-1">Select</option>
          <option *ngFor="let d of timearrayfrom" [value]="d.value">
            {{ d.text }}
          </option>
        </select>
            </div>
            <div class="col" *ngIf="timearrayto.length > 0">
                <label for="owner_id">To</label>
                <select class="form-control" id="totime" required [(ngModel)]="_appointmentModel.totime" name="totime">
          <option value="-1">Select</option>
          <option *ngFor="let d of timearrayto" [value]="d.value">
            {{ d.text }}
          </option>
        </select>
            </div>
        </div>

        <button (click)="addappointment()" class="btn btn-success">
      Create New Appointment
    </button>
    </div>

    <div *ngIf="submitted">
        <h4>Appointment created successfully !!</h4>
        <button class="btn btn-success" (click)="addnewappointment()">Add</button>
    </div>
</div>