<div class="submit-form">
    <div *ngIf="!submitted" [formGroup]="_appointmentModel">
        <h3>Appointment Registration</h3>
        <div class="form-group">
            <label for="owner_id">Owner</label>
            <select (change)="filterpets()" class="form-control" id="owner_id" required formControlName="owner_id">
        <option value="0">Select</option>
        <option *ngFor="let d of _ownersmodel" [value]="d.id">
          {{ d.first_name }} {{ d.last_name }}
        </option>
      </select>
            <span class="text-danger" *ngIf="
          _appointmentModel.get('owner_id').touched &&
          (_appointmentModel.get('owner_id').errors?.required ||
            _appointmentModel.get('owner_id').errors?.checkcustomrequired)
        ">
        Required
      </span>
        </div>
        <div class="form-group">
            <label for="owner_id">Pet</label>
            <select class="form-control" id="pet_id" required formControlName="pet_id">
        <option value="0">Select</option>
        <option *ngFor="let d of _petsmodel" [value]="d.id">
          {{ d.name }}
        </option>
      </select>
            <span class="text-danger" *ngIf="
          _appointmentModel.get('pet_id').touched &&
          (_appointmentModel.get('pet_id').errors?.required ||
            _appointmentModel.get('pet_id').errors?.checkcustomrequired)
        ">
        Required
      </span>
        </div>

        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" required formControlName="date" />
            <span class="text-danger" *ngIf="
          _appointmentModel.get('date').touched &&
          _appointmentModel.get('date').errors?.required
        ">
        Required
      </span>
        </div>
        <div class="row">
            <div class="col">
                <label for="owner_id">From</label>
                <select (change)="changefrom()" class="form-control" id="fromtime" required formControlName="fromtime">
          <option value="-1">Select</option>
          <option *ngFor="let d of timearrayfrom" [value]="d.value">
            {{ d.text }}
          </option>
        </select>
                <span class="text-danger" *ngIf="
            _appointmentModel.get('fromtime').touched &&
            (_appointmentModel.get('fromtime').errors?.required ||
              _appointmentModel.get('fromtime').errors?.checkcustomrequired)
          ">
          Required
        </span>
            </div>
            <div class="col" *ngIf="timearrayto.length > 0">
                <label for="owner_id">To</label>
                <select class="form-control" id="totime" required formControlName="totime">
          <option value="-1">Select</option>
          <option *ngFor="let d of timearrayto" [value]="d.value">
            {{ d.text }}
          </option>
        </select>
                <span class="text-danger" *ngIf="
            _appointmentModel.get('totime').touched &&
            (_appointmentModel.get('totime').errors?.required ||
              _appointmentModel.get('totime').errors?.checkcustomrequired)
          ">
          Required
        </span>
            </div>
        </div>

        <button (click)="addappointment()" class="btn btn-success">
      Update Appointment
    </button>
        <br> <b>NOTE : Here I am assuming that appointments may overlap with each other.</b>
    </div>

    <div *ngIf="submitted">
        <h4>Appointment updated successfully !!</h4>
        <button class="btn btn-success" (click)="addnewappointment()">
      View All Appointments
    </button>
    </div>
</div>