<div class="container">
    <h2>Add New Appointment</h2>
    <div *ngIf="appointment">
      <app-owner [owner]="appointment.owner"></app-owner>
      <br>
      <app-pet [pet]="appointment.pet "></app-pet>
      <div class="form-group">
        <label for="date-time">Date</label>
        <input [(ngModel)]="datetimeformatted" type="date" class="form-control col-4" id="date" name="date" required>
      </div>
      <button type="button" (click)="addAppointment()" class="btn btn-primary">Submit</button>
    </div>
  </div>