<div>
    <label>Pet's Information</label>
    <hr>
    <div class="col-xs-4">
        <label>Pet's Name</label>
        <input [(ngModel)]="pet.name" name="Name" type="text" class="form-control col-4" placeholder="Enter Pet's Name" required>
    </div>
    <div class="col-xs-4">
        <label>Pet's Type</label>
        <input [(ngModel)]="pet.type" name="Type" type="text" class="form-control col-4" placeholder="Enter Pet's Type" required>
    </div>
    <div class="col-xs-4">
        <label>Pet's Age</label>
        <input [(ngModel)]="pet.age" name="Age" type="number" class="form-control col-4" required>
    </div>
</div>