<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="MedStudyDB" connectionString="Server=DESKTOP-19G25T0\SQLEXPRESS; Database=Employee; Integrated Security=True;User Instance=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="DBSqlTimeoutSecs" value="30"/>
	</appSettings>
</configuration>