<mat-form-field>
  <input matInput  [(ngModel)]="filterCustomer.firstName" placeholder="firstName">
</mat-form-field>

<mat-form-field>
  <input matInput  [(ngModel)]="filterCustomer.lastName" placeholder="Last Name">
</mat-form-field>

<mat-form-field>
  <input matInput  [(ngModel)]="filterCustomer.year" placeholder="Year">
</mat-form-field>

<!-- <mat-form-field> -->
  <button mat-button  (click)="applyFilter()" >Filter</button>
<!-- </mat-form-field> -->
<table mat-table [dataSource]="Customers$" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef> ID. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="FirstName">
    <th mat-header-cell *matHeaderCellDef> FirstName </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="LastName">
    <th mat-header-cell *matHeaderCellDef> LastName </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
