/* You can add global styles to this file, and also import other style files */
.cell{
    min-height: 50px;
    border: 1px solid rgba(204, 204, 204, 0.472);
}
.booked{
    background-color: aquamarine;
}
.booking{
    background-color: yellowgreen;
}
/* .ngb-dp-day, .ngb-dp-week-number, .ngb-dp-weekday{
    height: 3rem !important; 
    width: 3rem !important;
} */
