

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">person_add</mat-icon>
      Add Appointment
    </ng-template>

    
<div class="center-screen">
  <form  [formGroup]="createAppointmentForm" (ngSubmit)="createAppointment()">
    <mat-form-field >

      <mat-label>Owner Name : </mat-label>
      <input matInput type="text" class="form-control" formControlName="owner_name" placeholder="Enter owner name">
    </mat-form-field>
    <br>
    <mat-form-field >

      <mat-label>Pet Name : </mat-label>
      <input matInput type="text" class="form-control" formControlName="pet_name" placeholder="Enter pet name">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput  formControlName="date" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> 
  <br/>
  <mat-label>Time : </mat-label>

  <mat-button-toggle-group class="form-control" formControlName="time">
    <mat-button-toggle value="14:00">14:00</mat-button-toggle>
    <mat-button-toggle value="14:30">14:30</mat-button-toggle>
    <mat-button-toggle value="15:00">15:00</mat-button-toggle>
    <mat-button-toggle value="15:30">15:30</mat-button-toggle>
    <mat-button-toggle value="16:00">16:00</mat-button-toggle>
    <mat-button-toggle value="16:30">16:30</mat-button-toggle>
    <mat-button-toggle value="17:00">17:00</mat-button-toggle>
  </mat-button-toggle-group>
  <br>
  <br>
  <button mat-raised-button type="submit" [disabled]="!createAppointmentForm.valid">Submit</button>

</form>

</div>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">groups</mat-icon>
      View Appointments
    </ng-template>
    <!-- <app-daily-calendar-view></app-daily-calendar-view>
    <app-autocomplete></app-autocomplete>
    <app-appointment-form></app-appointment-form> -->
    <table  >
      <thead>
        <tr>
          <th>Appointment Id</th>
          <th>Date</th>
          <th>Owner Name</th>
          <th>Pet Name</th>
          <th>Time</th>
          <th>Actions</th>
    
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataSource">
          <td>{{data.appointment_id}}</td>
          <td>{{data.date.substring(0, 10)}}</td>
          <td>{{data.owner_name}}</td>
          <td>{{data.pet_name}}</td>
          <td>{{data.time}}</td>

          <td>    <button mat-raised-button (click)="deleteAppointment(data.appointment_id)">Delete</button>
          </td>
    
        </tr>
      </tbody>
    </table>
      </mat-tab>

</mat-tab-group>
