<div class="main-content">
    <div class="filter">
        <form role="form" name="userSearch" [formGroup]="userSearch">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstName">First Name</label>
                    <input type="text" formControlName="firstName" class="form-control" name="firstName"
                        id="firstName" />
                </div>
                <div class="form-group col-md-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" name="lastName" id="lastName" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="year">Year</label>
                    <input type="text" formControlName="year" class="form-control" name="year" id="year" />
                </div>
                <div class="form-group col-md-6">
                    <label for="state">State</label>
                    <select class="form-control" id="state" name="state" formControlName="state">
                        <option selected="selected" value="">--Select--</option>
                        <option *ngFor="let state of states" value="{{state.stateCode}}">
                            {{state.stateName}}
                        </option>
                    </select>
                </div>
            </div>
        </form>

        <div class="form-row" style="float: right;">
            <button type="button" class="btn btn-secondary">Reset</button>
            <button type="button" style="margin-left: 10px;" (click)="search()" class="btn btn-primary">Search</button>
        </div>
    </div>

    <div id="myGrid" style="margin-top: 50px;" class="ag-theme-alpine">
        <ag-grid-angular #agGrid style="width: 100%; height: 500px;" id="myGrid" class="ag-theme-alpine"
            [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="10" [rowHeight]="50"
            (gridReady)="onGridReady($event)"  [rowData]="rowData"></ag-grid-angular>
    </div>
</div>