<div>
    <label>Owner's Information</label>
    <hr>
    <div class="col-xs-4">
        <label>Owners's First Name</label>
        <input [(ngModel)]="owner.firstName" type="text" class="form-control col-4" placeholder="Enter Owner's First Name" name="FirstName" required>
    </div>
    <div class="col-xs-4">
        <label>Owners's Last Name</label>
        <input [(ngModel)]="owner.lastName" type="text" class="form-control col-4" placeholder="Enter Owner's Last Name"  name="LastName"  required>
    </div>
    
</div>