<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * ** Delete the template below * * * * * * * * * * -->

<mat-drawer-container>
  <mat-drawer #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches">
    <div class="sidenav-header">
      <span>PetCare</span>
    </div>
    <ul>
      <li routerLink='/home'>
        <mat-icon >home</mat-icon>
      </li>
      <li routerLink='/owner'>
        <mat-icon  >people</mat-icon>
      </li>
      <li routerLink='/pets'>
        <mat-icon >pets</mat-icon>
      </li>
      <li routerLink='/appointment'>
        <mat-icon >event</mat-icon>
      </li>

    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <div *ngIf="mobileQuery.matches">
       <button mat-icon-button (click)="snav.toggle()"> 
    <!--   <button mat-icon-button (click)="mobileQuery.matches ? snav.toggle() : collapsedNav = !collapsedNav"> -->
        <mat-icon>menu</mat-icon>
      </button>
      </div>
    </mat-toolbar>
    
<router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
