<h3>Appointment</h3>
<div class="form-group">
  <label style="font-weight: bold;" class="flex-grow-1">
    {{selectedDate.toLocaleDateString()}}
    Time: {{slotFromTime}} to {{slotToTime}}
  </label>
</div>
<div class="form-group">
  <label class="flex-grow-1">
    Owner
  </label>
  <div class="d-flex">
    <div class="flex-grow-1">
      <select class="form-control" [(ngModel)]="selectedOwnerId" (change)="onOwnerChange($event)">
        <!-- <select class="form-control" [attr.disabled]="owner?.id>0?null:true" (change)="onSelectedPetChanged($event)" [(ngModel)]="selectedPetId"> -->
        <option *ngFor="let owner of owners" [ngValue]="owner.id">
          {{owner.firstName}}
        </option>
      </select>
    </div>
    <div>
      <button class="btn btn-xs btn-success" (click)="open(content,false)">
        <span *ngIf="true" class="fa fa-plus"></span>
      </button>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="flex-grow-1">
    Pet
  </label>
  <div class="d-flex">
    <div class="flex-grow-1">
      <select class="form-control" [(ngModel)]="selectedPetId" [attr.disabled]="selectedOwner?.id>0?null:true">
        <option *ngFor="let pet of selectedOwner?.pets" [ngValue]="pet.id">
          {{pet.name}} ({{pet.type}}, age: {{pet.age}})
        </option>
      </select>
    </div>
    <div>
      <button class="btn btn-xs btn-success" (click)="open(content,true)" [attr.disabled]="selectedOwner?.id>0?null:true">
        <span *ngIf="true" class="fa fa-plus"></span>
      </button>
    </div>
  </div>
  <label class="flex-grow-1 mt-2">
    Notes
  </label>
  <div class="d-flex">
    <div class="flex-grow-1">
      <input type="text" class="form-control" [(ngModel)]="notes" name="notes" placeholder="Notes">
    </div>
  </div>
  <div class="form-group mt-3">
    <button class="btn btn-xs btn-success" [disabled]="!selectedPetId" (click)="bookAppointment()">Book</button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">Owner & Pets</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #ownerForm="ngForm" (ngSubmit)="ownerForm.form.valid && onOwnerAdd(ownerForm)" novalidate>
      <div *ngIf="!hideOwnerFields">
        <h6 class="mt-3">Owner</h6>
        <hr />
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" #firstName="ngModel" [(ngModel)]="ownerFormModel.owner.firstName" name="firstName" placeholder="First name" required>
            <!-- <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
        <div *ngIf="firstName.errors.required">
          First Name is required.
        </div>
      </div> -->
          </div>
          <div class="col">
            <input type="text" class="form-control" name="lastName" placeholder="Last name" required [(ngModel)]="ownerFormModel.owner.lastName">
          </div>
        </div>
      </div>
      <div>
        <h6 class="mt-3">Pet</h6>
        <hr />
        <div class="row">
          <div class="col">
            <select class="form-control" name="petType" placeholder="Type" [(ngModel)]="ownerFormModel.pet.type" required>
              <option *ngFor="let type of petTypes" [ngValue]="type.name">
                {{type.name}}
              </option>
            </select>
          </div>
          <div class="col">
            <input type="text" class="form-control" name="petName" placeholder="Pet Name" required [(ngModel)]="ownerFormModel.pet.name">
          </div>
          <div class="col">
            <input type="number" class="form-control" placeholder="Age" name="age" required min="1" max="25" [(ngModel)]="ownerFormModel.pet.age">
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <button class="btn btn-dark" type="submit" [disabled]="!ownerForm.form.valid">Save</button>
        </div>
      </div>
    </form>
    <div class="alert alert-warning mt-2" role="alert" [hidden]="ownerForm.form.valid">
      All fields are required !!
    </div>
    <!--<div>
      List Owners
    </div>-->
  </div>
  <hr>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
  </div>
</ng-template>
